@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
  background:#f2f2f2 ;
  color: black;
  font-family: "Itim", Noto Sans Thai, sans-serif;
 
  
}
nav{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: white;
}

nav a{
  color: black;
  text-decoration: none;
  margin: 12px;
  padding: 10px;
  font-size: 18px
}

nav a:hover{
  color: blue;
}

nav .logo{
  margin-right: auto;
  padding: 10px;
}

footer{
  display: block;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

a{
  text-decoration: none;
}

.src{
  border-radius: 0.5cm; 
}