@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
.title{
  color: #333;
  text-align: center;
  font-family: "Itim", Noto Sans Thai, sans-serif;
}

.container{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 150px;
  padding: 8px 0;
  background: #497349; ;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.photo{
  margin-top: auto;

}

.art{
  color: #918e8e;
  font-size: medium;
  font-family: "Itim", Noto Sans Thai, sans-serif;
}

.fullImage{
  width: 100%;
  height: 500px; /* หรือใช้ 100vh เพื่อให้เต็มจอ */
  object-fit: cover;
}

.card{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* แบ่ง 2 คอลัมน์ */
  gap: 20px;
}
